.filter{
    margin: 40px 0px 100px 0px;
}
.filter>h2{
    margin-left: 15px;
}

.filter__button{
    border: none;
    background: rgb(36,35,0);
    background: linear-gradient(90deg, rgba(36,35,0,0.01724439775910369) 0%, rgba(252,246,34,1) 0%, rgba(242,222,140,0.989233193277311) 100%);
}