.navBar{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    background: rgb(36,35,0);
    background: linear-gradient(90deg, rgba(36,35,0,0.01724439775910369) 0%, rgba(252,246,34,1) 0%, rgba(242,222,140,0.989233193277311) 100%);
}
.navBar__logo{
    display: flex;
    align-items: center;
}
.navBar__logo:hover{
    cursor: pointer;
}
.navBar__logo>img{
    border-radius: 10px;
}
.navBar__logo>p{
    margin-left: 5px;
}


@media screen and (max-width: 424px) {
    .navBar__form,
    .navBar__logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
}