.ordermodal{
    /* display: flex;
    flex-direction: column; */
}
.ordermodal__body{
    display: flex;
    justify-content: space-around;
}

.ordermodal__image{
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
}

.ordermodal__selectedtoppings{
    margin-top: 10px;
}
@media screen and (max-width:550px) {
    .ordermodal__body{
        display: flex;
        flex-direction: column;
    }
}